<!DOCTYPE html>
<html lang="pt-BR">
<head>

    
    {% block head %}
        <title> Gim Maneger </title>
    {% endblock %}

    <link rel="stylesheet" href="/style.css">
    

</head> 
<body>
        <header>
            <div class="links">
                <a href="/Instructors">Instructors</a>
                <a href="/Members">Members</a>
            </div>
        </header> <!-- end header-->

        {% block content %}


        {% endblock %}

        <script src="script.js"></script>
</body>
</html> 